<h1>Bookers</h1>

<% @books.eath do |book| %>

<table ="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>
  <tr align="center">
    <tb>リーダブルコード</tb>
    <tb>より良いコードを書くためのシンプルで実践的なテクニック</tb>
  </tr>
  <tr align="center">
    <tb>トラブル知らずのシステム設計</tb>
    <tb>システム設計の要点を図解で説明してくれます</tb>
  </tr>
  <tr align="center">
    <tb>たのしいRuby</tb>
    <tb>Rubyの入門におすすめです</tb>
  </tr>
  <tr align="center">
    <tb>入門Git</tb>
    <tb>gitについての基本操作から内部構造まで解説してくれます</tb>
  </tr>
<tr align="center">
  <tb>アルゴリズム図鑑</tb>
  <tb>アルゴリズムについてカラーイラストでしっかり解説してくれます</tb>
</tr>
<tr align="center">
  <tb>達人プログラマー</tb>
  <tb>プログラマ入門者は必読！</tb>
</tr>
<tr align="center">
  <tb>データベース実践入門</tb>
  <tb>効率的なSQL文を教えてくれます</tb>
</tr>
</table>

<h1>New book</h1>
<span>
  <%= link_to book.title, book_path(book.id) %>
  </span>

<% end %>
